#narrowScreen{
    background-color: green;
}
#wideScreen{
    background-color: lightblue;
}
#shortScreen{
    background-color: turquoise;
}
#tallScreen{
    background-color: orange;
}

@media only screen and (max-width: 600px) {
    #narrowScreen{
        background-color: purple;
    }
}

@media only screen and (max-width: 800px) {
    #wideScreen{
        background-color: red;
    }
}

@media only screen and (max-height: 500px) {
    #shortScreen{
        background-color: yellow;
    }
}

@media only screen and (max-height: 800px) {
    #tallScreen{
        background-color: lavender;
    }
}