body{
    background-color: beige;
}
#box1{
    border-style:solid;
    width: 40vw;
    height: 33vh;
    border-color:rgba(20, 250, 173,10);
    border-width: 3px;
    border-radius:10px;
    background-color: mediumseagreen;
    position:relative;
}


#text1{
    left: 120%;
    top: 250;
    position: relative;
}

#box2{
    width: 73vw;
    height: 33vh;
    border-style: solid;
    border-radius:3px;
    border-color:purple;
    position:absolute;
    left: 0;
    bottom: 0;
    background-color: mediumvioletred;
    position: fixed;
}

#box3{
position: sticky;
top: 0;
width: 73vw;
height: 10vh;
border-radius: 10px;
background-color: orangered;
}

#text3 {
position: sticky;
top: 0;
font-size: 50px;
border: 5px solid green;
}
